/**
 * Date : 2017. 12. 11. ~
 * Create : Dong Gyu
 * Explain : 페이지 상단 title
 */

.title1 {
  @include font(display);
  color: $color-grey-8;
  background-color: $color-grey-1;
  border-top: 1px solid $color-grey-4;
  height: 59px;
  letter-spacing: -0.1px;
  padding: 30px 0 30px 40px;
  text-align: left;
  button {
    float: right;
    margin-right: 30px;
    margin-top: 1.5px;
  }
}

.title2 {
  @include font(display);
  color: $color-grey-8;
  background-color: $color-grey-1;
  border-top: 1px solid $color-grey-4;
  height: 59px;
  letter-spacing: -0.1px;
  padding: 30px 0 30px 40px;
  text-align: left;
  button {
    float: right;
    margin-right: 16px;
    margin-top: 1.5px;
  }
  button:nth-child(1) {
    margin-right: 30px;
  }
}

.title3 {
  @include font(display);
  color: $color-grey-8;
  background-color: $color-grey-1;
  border-top: 1px solid $color-grey-4;
  height: 59px;
  letter-spacing: -0.1px;
  padding: 30px 0 30px 40px;
  text-align: left;
  button {
    float: right;
    margin-right: 30px;
    margin-top: 1.5px;
  }
  .info-layout{
    float: right;
    background-color: $color-grey-1;
    height: 53px;
    margin-right: 40px;
    width: 140px;
    .circle-icon {
      margin-top: 12px;
      position: absolute;
      i {
        vertical-align: text-top;
      }
    }
    .text-box {
      margin-left: 60px;
      margin-top: 7px;
      position: absolute;
      div:nth-child(1) {
        @include font(caption);
        color: $color-grey-7;
        height: 18px;
        letter-spacing: -0px;
        text-align: left;
      }
      div:nth-child(2) {
        @include font(title);
        height: 36px;
        letter-spacing: -0.1px;
        text-align: left;
        &.default {
          color: $color-grey-3;
        }
        &.primary {
          color: $color-blue-1;
        }
        &.success {
          color: $color-green-1;
        }
        &.danger {
          color: $color-red-1;
        }
        &.warning {
          color: $color-orange-1;
        }
      }
    }
  }

}
