.signin-container {
  background: linear-gradient(to bottom, #a0e9f0 0, #5f97db 28rem, $color-grey-2 28rem);
  .mark {
    height: 22rem;
    margin: 0 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-container {
    background-color: $color-grey-1;
    border-radius: 5px;
    margin: 0 1.6rem;
    padding: 4rem 3.4rem 0 3.4rem;
    ion-item {
      padding-left: 0;
      .item-inner {
        padding-right: 0;
        input {
          @include font(body1);
          @include placeholder{
            color: $color-grey-4;
          }
        }
      }

      button {
        background-color: $color-grey-1;
        width: 4.8rem;
        height: 4.6rem;
        margin: 1px 0;
        padding: 0;
        ion-icon {
          color: $color-grey-3;
          font-size: 24px;
        }
      }
      &:nth-child(1) {
        margin-bottom: 1.6rem;
      }
    }

    .empty-container {
      height: 6.9rem;
    }
  }

  .btn-container {
    width: 100%;
    padding: 0 5rem;
    margin-top: -2.3rem;
    position: relative;
    .signin-btn {
      @include font(body1);
      border-radius: 22px;
      background: linear-gradient(to right, $color-blue-1 , #5f97db);
      color: $color-grey-1;
      height: 4.4rem;
      width: 100%;
    }
  }

  .search-text {
    @include font(caption1);
    color: $color-grey-4;
    margin-bottom: 2rem;
    padding: 2.1rem 5rem;
    text-align: center;
    span {
      @include font(caption3);
    }
  }

  .signup-text {
    @include font(caption1);
    color: $color-grey-4;
    padding: 2.1rem 5rem;
    text-align: center;
    span {
      @include font(caption3);
      color: $color-blue-2;
    }
  }
}
