@import "variable";

#page-container{
  background-color: $color-grey-3;
  bottom: 0;
  left: 262px;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 0;
  .page-inner {
    height: calc(100% -  80px);
  }
}
