<ion-content class="signup-container top-margin-container">
  <form name="userForm" [formGroup]="userForm">
    <ion-item>
      <ion-input type="text" formControlName="id" placeholder="아이디" required></ion-input>
    </ion-item>
    <div *ngIf="!userFormErrors.id.valid">
      <p class="error-text" *ngIf="userFormErrors.id.required" >
        이메일을 입력해주세요
      </p>
      <p class="error-text" *ngIf="userFormErrors.id.email" >
        이메일 형식에 맞지 않습니다
      </p>
    </div>
    <ion-item>
      <ion-input type="password" formControlName="pass" placeholder="비밀번호" required></ion-input>
    </ion-item>
    <div *ngIf="!userFormErrors.pass.valid">
      <p class="error-text" *ngIf="userFormErrors.pass.required" >
        비밀번호를 입력해주세요
      </p>
      <p class="error-text" *ngIf="userFormErrors.pass.minlength" >
        비밀번호는 6글자 이상 입력해주세요
      </p>
    </div>
    <ion-item>
      <ion-input type="password" formControlName="confirmPass" placeholder="비밀번호 재입력" required></ion-input>
    </ion-item>
    <div *ngIf="!userFormErrors.confirmPass.valid && userForm.get('confirmPass').touched">
      <p class="error-text" *ngIf="userFormErrors.confirmPass.required" >
        비밀번호를 다시 입력해주세요
      </p>
      <p class="error-text" *ngIf="userForm.hasError('mismatchedPasswords')" >
        비밀번호가 일치하지 않습니다
      </p>
    </div>
    <ion-item>
      <ion-input type="text" formControlName="name" placeholder="이름"></ion-input>
    </ion-item>
    <ion-item class="item-left">
      <ion-input type="text" formControlName="phone" placeholder="핸드폰번호"></ion-input>
    </ion-item>
    <button class="item-right" item-right ion-button outline (click)="sendPassCode()" [disabled]="allowStep === 3">
      {{authBtn()}}
    </button>
    <ion-item>
      <ion-input type="text" formControlName="code" placeholder="인증번호 입력"></ion-input>
    </ion-item>
    <ion-item class="item-left">
      <ion-input type="text" formControlName="postcode" placeholder="우편번호" required></ion-input>
    </ion-item>
    <button class="item-right" item-right ion-button outline (click)="findPostcode()">
      우편번호 찾기
    </button>
    <ion-item>
      <ion-input type="text" formControlName="address1" placeholder="주소" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" formControlName="address2" placeholder="나머지주소" required></ion-input>
    </ion-item>
    <div *ngIf="!userFormErrors.address2.valid">
      <p class="error-text" *ngIf="userFormErrors.address2.required" >
        상세주소를 입력해주세요
      </p>
    </div>
  </form>
</ion-content>
