.signup-container {
  background: linear-gradient(to bottom, #a0e9f0 0, #5f97db 28rem, $color-grey-2 28rem);
  .header {
    height: 5.6rem;
    padding-right: 1.6rem;
    ion-row {
      height: 100%;
      ion-col {
        height: inherit;
        padding: 0;
        width: 5.8rem;
        .header-title {
          @include font(title);
          color: $color-grey-1;
          height: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:nth-child(1) {
          color: $color-grey-1;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .btn-box {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .btn-cancel {
            @include font(body1);
            color: $color-grey-1;
            width: 5.8rem;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

  .step-container {
    height: 9rem;
    padding: 0 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner-container {
      height: 2.4rem;
      min-width: 12rem;
      margin: 0 30%;
      padding: 0;
      ion-row {
        height: inherit;
        ion-col {
          align-items: center;
          display: flex;
          justify-content: center;
          padding: 0;
          div {
            align-items: center;
            display: flex;
            justify-content: center;
            &.step-number {
              background-color: inherit;
              border: 1px solid $color-grey-1;
              color: $color-grey-1;
              border-radius: 25px;
              width: 2.4rem;
              height: 2.4rem;
              &.select {
                color: $color-green-2;
                background-color: $color-grey-1;
                border: 0;
              }
            }
            &.step-divider {
              width: 2.4rem;
              height: 2.4rem;
              span {
                background-color: #e3e4e9;
                border-radius: 25px;
                width: 0.6rem;
                height: 0.6rem;
              }
            }
          }
        }
      }
    }
  }

  .step-info {
    @include font(body1);
    color: $color-grey-1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.6rem;
    margin-bottom: 1.4rem;
    padding: 0 1.6rem;
  }

  .common-container {
    background-color: $color-grey-1;
    border-radius: 5px;
    margin: 0 1.6rem;
    padding: 4rem 3.4rem 0 3.4rem;
    ion-item {
      padding-left: 0;
      margin-bottom: 1.6rem;
      .item-inner {
        padding-right: 0;
        input {
          @include font(body1);
          @include placeholder{
            color: $color-grey-4;
          }
        }
      }
    }

    .item-left {
      width: calc(100% - 10.4rem);
      float: left;
    }

    .item-right {
      @include font(caption1);
      background-color: $color-grey-1;
      border-radius: 5px;
      color: $color-blue-2;
      border: 1px solid $color-blue-2;
      height: 4.4rem;
      margin: 0.1rem 0 0.1rem 1.6rem;
      width: 8.6rem;
      padding: 0;
    }

    .empty-container {
      height: 6.9rem;
    }
  }

  .first-container { }

  .second-container {
    .timer {
      @include font(body1);
      background-color: $color-grey-1;
      color: $color-grey-4;
      margin: 0;
      width: 5rem;
    }
  }

  .third-container { }

  .btn-container {
    width: 100%;
    padding: 0 5rem;
    margin-top: -2.3rem;
    position: relative;
    .signup-btn {
      @include font(body1);
      border-radius: 22px;
      color: $color-grey-1;
      height: 4.4rem;
      width: 100%;
      &.default-step {
        background: linear-gradient(to right, $color-blue-1 , #5f97db);
      }
      &.last-step {
        background-color: $color-green-2;
      }
    }
  }
}
