.homepage-board-list-container {
  .page-header{
    .board-create-btn{
      float:right;
    }
    .button-red{
      margin-left:14px;
    }
  }
}

.homepage-board-write-container{
  .board-write-title{
    @include font(heading);
    color: $color-grey-7;
    border: none;
    border-radius: 0;
    height: 50px;
    border-top: 1px solid $color-grey-7;
    border-bottom: 1px solid $color-grey-7;
  }
  .summernote-title{

  }
  .summernote-content{
    position: relative;
    width: 915px;

    &.width-lt{

    }
    &.width-gt{

    }
    //left: 50%;
    //margin-left: -457px !important;
  }
 .button-group {
   position: relative;
   left: 50%;
   margin-left: -40px !important;
 }
}