.contents-section{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .header-section{
    .header-info {
      height: $header-height;
      line-height: $header-height;
      .logo {
        height: $header-height;
        line-height: $header-height;
        position: absolute;
        text-align: center;
        width: 250px;
        left: 0;
        img {
          height: 100%;
          vertical-align: middle;
        }
      }
      .login-control {
        @include font(body-1);
        color: $color-grey-6;
        height: $header-height;
        line-height: $header-height;
        position: absolute;
        text-align: right;
        right: 0;
        top: 0;
        width: 300px;
        .user-info {
          display: inline-block;
          margin-right: 20px;
        }
      }
    }
    .header-menu-bar{
      @include font(sub-heading-1);
      position: relative;
      height: $header-menu-bar;
      line-height: $header-menu-bar;
      background-color: #484a4d;
      drop-shdow:1px #2d3033;
      inner-shdow: 1px #5d6063;
      color: $color-grey-0;
      ul{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        li{
          display: inline-block;
          height: $header-menu-bar;
          line-height: $header-menu-bar;
          text-align: center;
          width: 150px;
          &:hover{
            cursor: pointer;
            color: $color-yellow-1;
          }
        }
      }
    }
  }

  //main-container
  .menu-contents-section{
    position: absolute;
    top: $header-height + $header-menu-bar;
    left: 0;
    right: 0;
    bottom: 0;
    .submenu-section{
      background-color: $color-grey-1;
      top: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      &.slide-on{
        margin-left: 0px;
      }
      &.slide-off{
        margin-left: -250px;
      }
      width: 250px;
      .slide-menu-btn{
        z-index: 100;
        &:hover{
          cursor: pointer;
        }
      }
      .submenu-title{
        @include font(title);
        color: $color-grey-5;
        height: 110px;
        line-height: 110px;
        text-align: center;
      }
    }

    //page-container
    .submenu-contents-section{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      &.slide-on{
        left: 250px;
      }
      &.slide-off{
        left: 0;
      }
      .contents-wrapper{
        max-width: 1280px;
        margin: 50px 0 0 10px;
      }
    }
  }
}