.login-container{
  padding: 200px 100px;
  .login-message{
    font-size: 30px;
    text-align: center;
    padding: 50px 0;
  }

  .form-wrapper{
    background-color: slategrey;
    border-radius: 10px;
    border-color: black;
    margin: 0 auto;
    padding: 30px 20px 10px;
    width: 400px;
    label{
      color: white;
    }
  }
}