<!--<ion-header>-->
<!--<ion-navbar>-->
<!--<ion-title>Page1</ion-title>-->
<!--</ion-navbar>-->

<!--<ion-toolbar>-->
<!--<ion-title>Subheader</ion-title>-->
<!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-content class="home-container top-margin-container">
  <!--<button ion-button block routePage="HomeComponent" style="width: 200px">Tab</button>-->
  <!--<button ion-button block routePage="TabsComponent" style="width: 200px">Dialog</button>-->
  <!--<button ion-button block routePage="NoticeListComponent" style="width: 200px">Go second tab</button>-->
  <!--<button ion-button block routePage="back" style="width: 200px">Back</button>-->
  <!--<button ion-button block (click)="setLocalStorage()" style="width: 200px">Set</button>-->
    <!--<ion-segment [(ngModel)]="selected">-->
      <!--<ion-segment-button value="recipe">레시피</ion-segment-button>-->
      <!--<ion-segment-button value="store">상점</ion-segment-button>-->
      <!--<ion-segment-button value="album">내앨범</ion-segment-button>-->
    <!--</ion-segment>-->

</ion-content>
