<div class="common-container notice-container">
  <div class="title1">
    공지사항 수정
    <button class="lg success" (click)="save()">
      완료
    </button>
  </div>
  <div class="form-layout">
    <div class="form-content">
      <div class="page-content">
        <div class="content-layout">
          <div class="content-title">
            <input type="text" [ngModel]="notice?.title" (ngModelChange)="notice.title = $event" placeholder="공지사항 제목을 입력해주세요.">
            <div class="content-date">{{notice?.date | date : 'yyyy. MM. dd'}}</div>
          </div>
          <div class="content-main">
            <textarea [ngModel]="notice?.contents" (ngModelChange)="notice.contents = $event" placeholder="공지사항 내용을 입력해주세요."></textarea>
          </div>
          <div class="content-sub">
            <div class="file-title">첨부파일</div>
            <div class="file-input">
              <!--<input type="text" class="input none" [value]="!!notice?.file ? notice?.file.name : tempFile.name" placeholder="jpg,png 파일 가능" [disabled]="true"/>-->
              <input type="text" class="input none" [ngModel]="notice.file?.name" placeholder="jpg,png 파일 가능" [disabled]="true"/>
            </div>
            <div class="file-search">
              <button class="md primary" (click)="addFile()">파일찾기</button>
              <input type="file" id="notice-form-file" style="display: none;"/>
              <!--<input id="notice-file" type="file" name="imageFile" style="display: none;"/>-->
            </div>
          </div>
          <div class="content-sub">
            <div class="file-title">URL</div>
            <div class="file-input">
              <input type="text" id="link" class="input none" [ngModel]="notice?.link" (ngModelChange)="notice.link = $event" placeholder="홈페이지, 영상 url"/>
            </div>
            <div class="file-search">
              <button class="md" style="visibility: hidden"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
