@import "variable";

//@font-face {
//  font-family: 'Noto Sans KR';
//  font-style: normal;
//  font-weight: 300;
//  src: url(/assets/fonts/NotoSansCJKkr-Light-subset.woff) format('woff'),
//  url(/assets/fonts/NotoSansCJKkr-Light-subset.otf) format('opentype');
//}
//
//@font-face {
//  font-family: 'Noto Sans KR Regular';
//  font-style: normal;
//  font-weight: 400;
//  src: url(/assets/fonts/NotoSansCJKkr-Regular-subset.woff) format('woff'),
//  url(/assets/fonts/NotoSansCJKkr-Regular-subset.otf) format('opentype');
//}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  src: url(/assets/fonts/NotoSansCJKkr-Medium-subset.woff) format('woff'),
  url(/assets/fonts/NotoSansCJKkr-Medium-subset.otf) format('opentype');
}

/* Text styles */
$typographyBreakPoint: (
  display: (
    size: 40px,
    weight: 300,
    font-style: regular
  ),
  title: (
    size: 24px,
    weight: 500,
    font-style: regular
  ),
  subheading: (
    size: 20px,
    weight: 400,
    font-style: regular
  ),
  body-4: (
    size: 16px,
    weight: 500,
    font-style: bold
  ),
  body-3: (
    size: 16px,
    weight: 400,
    font-style: regular
  ),
  body-2: (
    size: 14px,
    weight: 500,
    font-style: bold
  ),
  body-1: (
    size: 14px,
    weight: 400,
    font-style: regular
  ),
  caption-2: (
    size: 12px,
    weight: 500,
    font-style: regular
  ),
  caption: (
    size: 12px,
    weight: 400,
    font-style: regular
  )
);

@mixin font($type) {
  font-family: 'Noto Sans KR';
  font-size: map-get(map-get($typographyBreakPoint, $type), size);
  //font-weight: map-get(map-get($typographyBreakPoint, $type), weight);
  font-style: map-get(map-get($typographyBreakPoint, $type), font-style);
}
