/* Color palette */

$color-grey-1: #ffffff;
$color-grey-2: #f8f8f8;
$color-grey-3: #f0f0f0;
$color-grey-4: #abadac;
$color-grey-5: #585f5b;
$color-grey-6: #282c2a;
$color-green-1: #2ecc71;
$color-green-2: #28ba66;
$color-red: #e44545;
$color-orange: #ffa217;


