<ion-content class="password-change-container">
  <ion-grid class="header">
    <ion-row>
      <ion-col col-auto>
        <div class="icon-box" (click)="back()">
          <ion-icon name="md-arrow-back"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="header-title">비밀번호 변경</div>
      </ion-col>
      <ion-col col-auto>
        <div class="icon-box" style="visibility: hidden">
          <ion-icon name="md-arrow-back"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="text-box">
    새로 사용할 비밀번호를 입력해주세요 :)<br>
    영문, 숫자 포함 6자 이상입니다.
  </div>
  <!-- divide -->
  <div class="change-container">
    <form name="passForm" [formGroup]="passForm">
      <ion-item>
        <ion-input type="password" formControlName="password" placeholder="비밀번호" required></ion-input>
      </ion-item>
      <div *ngIf="!passFormErrors.password.valid">
        <p class="error-text" *ngIf="passFormErrors.password.required" [@aramSlideUpDown]>
          비밀번호를 입력해주세요
        </p>
        <p class="error-text" *ngIf="passFormErrors.password.minlength" [@aramSlideUpDown]>
          비밀번호는 6글자 이상 입력해주세요
        </p>
      </div>
      <ion-item>
        <ion-input type="password" formControlName="confirmPassword" placeholder="비밀번호 재입력" required></ion-input>
      </ion-item>
      <div *ngIf="!passFormErrors.confirmPassword.valid && passForm.get('confirmPassword').touched">
        <p class="error-text" *ngIf="passFormErrors.confirmPassword.required" [@aramSlideUpDown]>
          비밀번호를 다시 입력해주세요
        </p>
        <p class="error-text" *ngIf="passForm.hasError('mismatchedPasswords')" [@aramSlideUpDown]>
          비밀번호가 일치하지 않습니다
        </p>
      </div>
    </form>
    <div class="empty-container"></div>
  </div>
  <div class="btn-container">
    <button class="signup-btn" (click)="reset()">비밀번호 변경완료!</button>
  </div>
</ion-content>
