
$color-grey-1: #ffffff;
$color-grey-2: #f4f6fb;
$color-grey-3: #d2d5de;
$color-grey-4: #9da5bc;
$color-grey-5: #5d6b7a;
$color-grey-6: #26313d;

$color-blue-1: #83c8e9;
$color-blue-2: #4f8ed3;

$color-green-1: #9be2ee;
$color-green-2: #78d6e5;

$color-red-1: #FAC4C4;
$color-red-2: #EC9DA0;
$color-red-3: #E27276;
$color-red-4: #DB4F54;
$color-red-5: #CA494D;


$color-orange-1: #f6b254;
