:host{
  .main-spinner{
    background-color: rgba(110, 110, 110, .7);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    mat-progress-spinner {
      left: 50%;
      top: 50%;
      margin-left: -30px;
    }

  }
}
