.login-area{
  display : block;
  position : center;
  background-color: #323e4c;
}

.id-area{
  padding : 100px;
  position : page;
  color : azure;
}

.login{
  margin : 50px;
  position : center;
}

.join{
  margin : 50px;
  position : center;
}
