<ion-content class="password-search-container top-margin-container">
  <div class="search-container">
    <form name="searchForm" [formGroup]="searchForm">
      <ion-item class="item-left">
        <ion-input type="text" formControlName="id" placeholder="아이디"></ion-input>
      </ion-item>
      <button class="item-right" item-right ion-button outline [disabled]="allowStep === 3" (click)="sendPassCode()">
        {{authBtn()}}
      </button>
      <div *ngIf="!searchFormErrors.id.valid">
        <p class="error-text" *ngIf="searchFormErrors.id.required">
          이메일을 입력해주세요
        </p>
        <p class="error-text" *ngIf="searchFormErrors.id.email">
          이메일 형식에 맞지 않습니다.
        </p>
      </div>
      <ion-item>
        <ion-input type="text" formControlName="code" placeholder="인증번호 입력"></ion-input>
        <button class="timer" item-right clear disabled>
          {{(limitTime | aramConvertPipe)}}
        </button>
      </ion-item>
      <div class="empty-container"></div>
    </form>
  </div>
  <div class="btn-container">
    <button class="signup-btn" [disabled]="allowStep !== 3" (click)="passReset()">비밀번호 초기화</button>
  </div>
</ion-content>
