$header-height: 70px;
$header-menu-bar : 50px;
$color : #1fdea1;

$color-grey-0: #ffffff;
$color-grey-1: #fbfbfb;
$color-grey-2: #eaeaea;
$color-grey-3: #ddd;
$color-grey-4: #888;
$color-grey-5: #555;
$color-grey-6: #333;
$color-grey-7: #222;

$color-blue-1: #758db0;
$color-blue-2: #4f84db;

$color-red-1: #f75151;
$color-yellow-1: #fffd64;