/**
 * Date : 2017. 12. 04.
 * Create : Dong Gyu
 */

button {
  outline: none;
  border: inherit;
  &.board {
    @include font(caption);
    border-radius: 5px;
    height: 30px;
    letter-spacing: -0px;
    min-width: 80px;
    padding: 6px 12px;
    &.default {
      background-color: $color-grey-3;
      color: $color-grey-7;
    }
    &.primary {
      background-color: $color-blue-1;
      color: $color-grey-1;
    }
    &.success {
      background-color: $color-green-1;
      color: $color-grey-1;
    }
    &.danger {
      background-color: $color-red-1;
      color: $color-grey-1;
    }
    &.warning {
      background-color: $color-orange-1;
      color: $color-grey-1;
    }
    &.cursor {
      cursor: pointer;
    }
  }
  &.storage {
    @include font(medium-button);
    border-radius: 5px;
    height: 40px;
    letter-spacing: -0px;
    min-width: 80px;
    padding: 11px 12px;
    line-height: 15px;
    &.default {
      background-color: $color-grey-3;
      color: $color-grey-7;
    }
    &.primary {
      background-color: $color-blue-1;
      color: $color-grey-1;
    }
    &.success {
      background-color: $color-green-1;
      color: $color-grey-1;
    }
    &.danger {
      background-color: $color-red-1;
      color: $color-grey-1;
    }
    &.warning {
      background-color: $color-orange-1;
      color: $color-grey-1;
    }
  }

  &.md {
    @include font(medium-button);
    border-radius: 5px;
    background-color: $color-grey-4;
    color: $color-grey-7;
    height: 44px;
    min-width: 100px;
    cursor: pointer;
    &:hover {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    &.success {
      background-color: $color-green-1;
      color: $color-grey-1;
      &:hover {
        background-color: $color-green-2;
      }
    }
    &.white {
      background-color: $color-grey-1;
      &.cancel {
        border: solid 1px $color-grey-4;
        color: $color-grey-7;
        &:hover {
          border: solid 1px $color-blue-1;
          color: $color-grey-8;
        }
      }
      &.delete {
        border: solid 1px $color-grey-4;
        color: $color-grey-7;
        &:hover {
          border: solid 1px $color-red-1;
          color: $color-grey-8;
        }
      }
    }
    &.default{
      background-color: $color-grey-2;
      color: $color-grey-7;
      &:hover{
        background-color: $color-grey-3;
      }
    }
    &.primary {
      background-color: $color-blue-1;
      color: $color-grey-1;
      &:hover {
        background-color: $color-blue-2;
      }
    }
    &.danger {
      background-color: $color-red-1;
      color: $color-grey-1;
      &:hover {
        background-color: $color-red-2;
      }
    }
    &.right-icon{
      width: inherit;
      padding: 12px 10px 12px 20px;
      i{
        font-size: 18px;
        float: right;
        position: inherit;
        padding-left: 10px;
      }
    }
    &.left-icon{
      padding: 12px 20px 12px 10px;
      i{
        font-size: 18px;
        float: left;
        position: inherit;
        padding-left: 10px;
      }
    }
  }

  &.lg{
    @include font(large-button);
    border-radius: 5px;
    height: 54px;
    min-width: 140px;
    cursor: pointer;
    &:hover {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    &.primary {
      background-color: $color-blue-1;
      color: $color-grey-1;
      &:hover {
        background-color: $color-blue-2;
      }
    }
    &.dark {
      background-color: $color-grey-7;
      color: $color-grey-1;
      &:hover {
        background-color: $color-grey-8;
      }
    }
    &.success {
      background-color: $color-green-1;
      color: $color-grey-1;
      &:hover {
        background-color: $color-green-2;
      }
    }
    &.white {
      background-color: $color-grey-1;
      &.cancel {
        border: solid 1px $color-grey-4;
        color: $color-grey-7;
        &:hover {
          border: solid 1px $color-blue-1;
          color: $color-grey-8;
        }
      }
      &.delete {
        border: solid 1px $color-grey-4;
        color: $color-grey-7;
        &:hover {
          border: solid 1px $color-red-1;
          color: $color-grey-8;
        }
      }
    }
    &.left-icon{
      display: table;
      .icon {
        display: table-cell;
        padding-left: 4px;
        padding-right: 6px;
        vertical-align: middle; /* IE */
        i{
          font-size: 18px;
          float: left;
          position: inherit;
          padding: 6px;
        }
      }
      .text {
        display: table-cell;
        padding-left: 6px;
        padding-right: 9px;
        vertical-align: middle;
      }
    }
  }
}
