<div class="account-container">
  <div class="inner-layout">
    <form name="loginForm" [formGroup]="loginForm">
      <input type="text" formControlName="id" required [(ngModel)]="id" placeholder="아이디"/>
      <div *ngIf="!loginFormErrors.id.valid">
        <p class="" *ngIf="loginFormErrors.id.required">
          아이디를 입력해주세요.
        </p>
      </div>
      <input type="password" formControlName="pass" required [(ngModel)]="pass" placeholder="패스워드" />
      <div *ngIf="!loginFormErrors.pass.valid">
        <p class="" *ngIf="loginFormErrors.pass.required">
          패스워드를 입력해주세요.
        </p>
        <p class="" *ngIf="loginFormErrors.pass.minlength">
          비밀번호는 6자리 이상 입력해주세요.
        </p>
      </div>
    </form>
    <button (click)="login()">로그인</button>
    <button (click)="goToPage('join')">회원가입</button>
    <button (click)="goToPage('find')">비밀번호찾기</button>
  </div>

  <div>

    <button (click)="spinner(true)">start</button>
    <button (click)="spinner(false)">stop</button>

  </div>
</div>
