<div class="list-container notice-container">
  <div class="title1">
    공지사항
    <button class="lg left-icon primary" appGrantDirective="[9]" routerLink="/notice/create">
      <div class="icon">
        <i class="material-icons">create</i>
      </div>
      <div class="text">
        공지사항작성
      </div>
    </button>
  </div>
  <div class="table-layout">
    <div class="no-data" *ngIf="!(totalCount$ | async)">
      <div>
        <i class="material-icons">wb_incandescent</i>
        <div>등록된 공지사항이 없습니다.</div>
      </div>
    </div>
    <div *ngIf="!!(totalCount$ | async)">
      <table class="border hover">
        <thead>
        <tr>
          <td style="width: 69px">번호</td>
          <td>제목</td>
          <td style="width: 169px">작성자</td>
          <td style="width: 169px">등록일</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let notice of notice$ | async; let idx = index" routerLink="/notice/detail/{{notice._id}}">
          <td>{{((totalCount$ | async) - (step * (currentPage-1))) - idx}}</td>
          <td>{{notice.title}}</td>
          <td>관리자</td>
          <td>{{notice.date | date : 'yyyy. MM. dd'}}</td>
        </tr>
        </tbody>
      </table>
      <div class="paging-layout">
        <app-aram-paging [curPage]="currentPage" [total]="totalCount$" [step]="step" [maxSize]="10" [URL]="'/notice/list/'" ></app-aram-paging>
      </div>
    </div>
  </div>
</div>
