@import "component";

.inner-layout {
  .title {
    @include font(display);
    height: 60px;
    text-align: center;
    width: inherit;
    margin-bottom: 70px;
  }
  input {
    //width: calc(100% - 22px);
    width: 306px;
  }
  .bottom-container {
    margin-top: 30px;
    button {
      margin: 8px 0;
      width: 100%;
    }
  }
}
