<div class="title">board list component</div>
<a href='#' class="button small">Confirm</a>
<div class="desc">
  <input type="text" placeholder="input your name"/>
  board list componentboard list componentboard list componentboard list componentboard list componentboard list componentboard list componentboard list componentboard list componentboard list componentboard list component

</div>

<form>
  <div class="input-container left-label">
    <label>이름</label>
    <input type="text" />
  </div>
</form>

<a href="#" routerLink="/board/view">detail</a>
