@import "src/app/core/scss/fuse";

:host {
  display: flex;
  flex: 1;
  width: 100%;
  min-width: 100%;
  .header {
    .search-input-wrapper {
      max-width: 480px;
    }
  }
  .mat-column-select {
    flex: none;
    width: 70px;
  }
  .mat-column-date {
    flex: none;
    width: 150px;
  }
}
