<div class="submenu-section" ng-class="ctrl.isSlideBtn? 'slide-on' : 'slide-off'">
    <div class="slide-menu-btn" ng-click="ctrl.slideBtnClick()" ng-if="ctrl.isSlideBtn? text='<': text='>'">{{text}}</div>
    <div class="submenu-title">게시판</div>
    <dl>
        <dt ng-click="">게시판 관리<span class="group group-on" ng-class=""></span></dt>
        <dd>게시판 리스트</dd>
        <dd>게시판 등록</dd>
        <dd>게시판 관리</dd>
        <dd>게시판 쓰기</dd>
        <dd>게시판 양식 관리</dd>
    </dl>
    <dl>
        <dt>포트폴리오</dt>
    </dl>
</div>

<div ui-view="contentsContainer" class="submenu-contents-section" ng-class="ctrl.isSlideBtn? 'slide-on' : 'slide-off'"></div>