<!--<ion-header>
  <ion-grid>
    <ion-row>
      &lt;!&ndash; Left &ndash;&gt;
      <ion-col col-auto>
        <div class="icon-box" (click)="back()">
          <ion-icon name="md-arrow-back"></ion-icon>
        </div>
      </ion-col>
      &lt;!&ndash; Center &ndash;&gt;
      <ion-col class="text">
        <div>주소 검색</div>
      </ion-col>
      &lt;!&ndash; right &ndash;&gt;
      <ion-col col-auto>
        <div class="icon-box" style="visibility: hidden">
          <ion-icon name="md-arrow-back"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>-->

<ion-content class="address-container top-margin-container">
  <div id="wrap"></div>
</ion-content>
